<ion-header class="mui--bg-color-teal-600 fg-light">

    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    Comentarios
                  </ion-col>
                  <ion-col col-2 text-right (click)="closeModal()">
                    <ion-icon name="close"></ion-icon>
                  </ion-col>
            </ion-row>
          </ion-grid>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
    <ion-card>
        
        <ion-card-header>
          <ion-item>
            <!-- prioridad baja = 0, media = 1, alta = 2-->
            <ion-avatar item-start>
              <img *ngIf="solicitud.PrioridadId == 0" src="../assets/imgs/green.png">
              <img *ngIf="solicitud.PrioridadId == 1" src="../assets/imgs/blue.png">
              <img *ngIf="solicitud.PrioridadId == 2" src="../assets/imgs/red.png">
            </ion-avatar>
            <h2 text-wrap>{{solicitud.NombreUsuario}} ({{solicitud.NombreRol}})</h2>
            <p style="font-size: 1rem;">{{solicitud.FechaString}}</p>
          </ion-item>
        </ion-card-header>
      
        <ion-card-content>
          <!-- texto completo -->
          <ion-item>
            <p text-wrap text-justify>{{solicitud.Texto}}</p>
          </ion-item>
          <ion-item no-lines *ngFor="let arc of solicitud.ArchivosAdjuntos">
              <img [src]="arc.Url" (click)="openUrl(arc.Url)" (load)="loaded($event)" id="img2" />
          </ion-item>

        </ion-card-content>
      
      </ion-card>

<!-- LISTA DE COMENTARIOS -->
<ion-list *ngFor="let item of comentarios" no-lines>
  <ion-item [class]="item.clase">
     <!-- <ion-item class="respuesta">-->
    <h3 style="color: #385898;">{{item.NombreUsuario}} - ({{item.NombreRol}})</h3>
    <ion-item no-lines *ngFor="let arc of item.ArchivosAdjuntos">
        <img [src]="arc.Url" (click)="openUrl(arc.Url)" (load)="loaded($event)" id="img1" />
    </ion-item>
    <p text-wrap text-justify>
      {{item.Texto}}
    </p>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
          <p class="tiempo"><ion-icon name="calendar"></ion-icon>&nbsp;{{item.FechaString}}</p>
      </ion-col>
      <ion-col *ngIf="item.PuedeEliminar">
        <button ion-button icon-start small clear color="danger" style="float: right;" (click)="presentActionSheet(item)">
            <ion-icon name="trash"></ion-icon>
            Eliminar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-list>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-1 (click)="presentModalNuevo()">
            <ion-icon name="attach" style="font-size: 3em;color:grey;"></ion-icon>
        </ion-col>
        <ion-col col-9>
            <ion-textarea placeholder="Escribe un comentario" class="casilla" [(ngModel)]="frmTexto"  autosize></ion-textarea>
        </ion-col>
        <ion-col col-2 (click)="enviarComentario()">
            <ion-icon name="send" class="botonEnviar"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
