<ion-header class="mui--bg-color-black-alpha-87 fg-light">
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title style="color: white;">
        Solicitudes
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding #content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!--
    <ion-label no-padding no-margin text-center style="font-style: italic;
          font-size: 0.9rem;">
      Deslize hacia abajo para actualizar
    </ion-label>
    -->

    <ion-list no-lines *ngFor="let item of solicitudes">
        <ion-card>
        
          <ion-card-header>
            <ion-item>

                
              <!-- prioridad baja = 0, media = 1, alta = 2-->
              <ion-avatar item-start>
                <img *ngIf="item.PrioridadId == 0" src="../assets/imgs/green.png">
                <img *ngIf="item.PrioridadId == 1" src="../assets/imgs/blue.png">
                <img *ngIf="item.PrioridadId == 2" src="../assets/imgs/red.png">
              </ion-avatar>
              <h2 text-wrap>{{item.NombreUsuario}} ({{item.NombreRol}})</h2>
              <p style="font-size: 1rem;">{{item.FechaString}}</p>
            </ion-item>
          </ion-card-header>
        
          <ion-card-content>
            <!-- texto completo -->
            <ion-item>
              <p text-wrap text-justify>{{item.Texto}}</p>
            </ion-item>
            <ion-item no-lines *ngFor="let arc of item.ArchivosAdjuntos">
                <!--<img [src]="arc.Url" (click)="openUrl(arc.Url)" (load)="loaded($event)" id="img1" />-->
                <img [src]="arc.Url" (click)="descargar(arc.Url, arc.Extension)" (load)="loaded($event)" id="img1" />
            </ion-item>
            <!--cantidad comentarios 
            <ion-item *ngIf="item.RespuestaMuro.length > 0" (click)="presentModal(item)" style="cursor: pointer;">
              <p text-right *ngIf="item.RespuestaMuro.length == 1">{{item.RespuestaMuro.length}} comentario</p>
              <p text-right *ngIf="item.RespuestaMuro.length > 1">{{item.RespuestaMuro.length}} comentarios</p>
            </ion-item>-->
            <ion-item>
                <ion-grid>
                    <ion-row>
                      <ion-col (click)="presentModal(item)" style="cursor: pointer;">
                          <button ion-button icon-start small clear>
                              <ion-icon name="chatbubbles"></ion-icon>
                              Comentar
                            </button>
                      </ion-col>
                      <ion-col *ngIf="item.RespuestaMuro.length > 0" style="padding-top: 13px;cursor: pointer;" (click)="presentModal(item)">
                          <p text-right *ngIf="item.RespuestaMuro.length == 1">{{item.RespuestaMuro.length}} comentario</p>
                          <p text-right *ngIf="item.RespuestaMuro.length > 1">{{item.RespuestaMuro.length}} comentarios</p>
                      </ion-col>
                      <ion-col *ngIf="item.PuedeEliminar">
                          <button ion-button icon-start small clear color="danger"  (click)="presentActionSheetSol(item)">
                              <ion-icon name="trash"></ion-icon>
                              Eliminar
                            </button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            </ion-item>
            <ion-list *ngIf="item.UltimoComentario">
              <ion-item [class]="item.UltimoComentario.clase">
                  <h3 style="color: #385898; padding:10px;" text-wrap>{{item.UltimoComentario.NombreUsuario}} - ({{item.UltimoComentario.NombreRol}})</h3>
                  <ion-item no-lines *ngFor="let arc of item.UltimoComentario.ArchivosAdjuntos">
                      <!--<img [src]="arc.Url" (click)="openUrl(arc.Url)" (load)="loaded($event)" id="img100" />-->
                      <img [src]="arc.Url" (click)="descargar(arc.Url, arc.Extension)" (load)="loaded($event)" id="img100" />
                  </ion-item>
                  <p text-wrap text-justify style="padding:10px;">
                    {{item.UltimoComentario.Texto}}
                  </p>
              </ion-item>
              <p class="tiempo"><ion-icon name="calendar"></ion-icon>&nbsp;{{item.UltimoComentario.FechaString}}</p>

            </ion-list>
          </ion-card-content>
        
        </ion-card>


    </ion-list>

</ion-content>
<ion-fab bottom right *ngIf="permisos.CreaMroSolicitud == 1" style ="bottom: 10%;">
  <button ion-fab  (click)="presentModalNuevo(null)" class="mui--bg-color-amber-700 fg-black">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
