<!--
<ion-header class="mui--bg-color-red-500 fg-light">
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title style="color: white;">
        Rendiciones
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-menu [content]="content" id="pageRendicion" type="overlay" (tap)="menutoggle()">
    <ion-header class="mui--bg-color-red-500 fg-light">
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item no-lines style="border-bottom: 1px solid #dedede;">
          <ion-avatar item-start>
            <ion-icon class="fg-principal" name="contact" style="font-size: 2em;"></ion-icon>
          </ion-avatar>
          <h2 class="fg-principal" text-wrap>{{nombreLogueado}}</h2>
          <h3 class="fg-secundary">{{rolLogueado}}</h3>
          <p class="fg-secundary">{{institucionLogueado}}</p>
        </ion-item>
        <ion-item no-lines class="fg-secundary" (click)="openNovedades()">
            <ion-label style="margin-top:0;margin-bottom: 0;">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon name="chatbubbles"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    Novedades
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
        </ion-item>
        <ion-item no-lines class="fg-secundary" (click)="openUsuarios()">
            <ion-label style="margin-top:0;margin-bottom: 0;">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon name="people"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    Usuarios
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
        </ion-item>
        <ion-item no-lines class="fg-secundary" (click)="openRendiciones()">
            <ion-label style="margin-top:0;margin-bottom: 0;">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon name="logo-usd"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    Rendiciones
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
        </ion-item>
        <ion-item no-lines class="fg-secundary" (click)="openDocumentos()">
            <ion-label style="margin-top:0;margin-bottom: 0;">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon name="document"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    Documentos
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
        </ion-item>   
        <ion-item no-lines class="fg-secundary" (click)="openCalendario()">
            <ion-label style="margin-top:0;margin-bottom: 0;">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon name="calendar"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    Calendario
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
        </ion-item>  
        <ion-item no-lines class="fg-secundary" (click)="openVotaciones()">
            <ion-label style="margin-top:0;margin-bottom: 0;">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon name="megaphone"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    Votaciones
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
        </ion-item> 
        <ion-item no-lines style="border-bottom: 1px solid #dedede;" class="fg-secundary"  (click)="openSolicitudes()">
            <ion-label style="margin-top:0;margin-bottom: 0;">
              <ion-grid>
                <ion-row>
                  <ion-col col-2>
                    <ion-icon name="chatbubbles"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    Solicitudes
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
        </ion-item>                                    
        <ion-item no-lines style="border-bottom: 1px solid #dedede;" class="fg-secundary" (click)="cerrarSesion()">
          <ion-label style="margin-top:0;margin-bottom: 0;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="close-circle"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  Cerrar sesión
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
        <ion-item no-lines style="border-bottom: 1px solid #dedede;"  class="fg-secundary" (click)="salir()">
          <ion-label style="margin-top:0;margin-bottom: 0;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="exit"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  Salir
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
-->
<ion-header class="mui--bg-color-black-alpha-87 fg-light">
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title style="color: white;">
        Rendiciones
      </ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding #content>
  <!-- refresh-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <!--
    <ion-label no-padding no-margin text-center style="font-style: italic;
          font-size: 0.9rem;">
      Deslize hacia abajo para actualizar
    </ion-label>
    -->

    <!-- lista-->
    <ion-list>
        <ion-item-sliding *ngFor="let clie of rendicionesArr">
          <ion-item>
            <ion-avatar item-start>
              <!--salida-->
                <ion-icon name="arrow-back" item-left *ngIf="clie.OtroUno == 'Egreso'" style="color: red; font-size: 3em;"></ion-icon>
                <!--entrada-->
                <ion-icon name="arrow-forward" item-left  *ngIf="clie.OtroUno == 'Ingreso'" style="color: #488aff; font-size: 3em;"></ion-icon>
            </ion-avatar>
            <h2>{{clie.NombreCompleto}}</h2>
            <ion-row>
              <ion-col>
                <div text-wrap *ngIf="clie.OtroUno == 'Egreso'" style="color: red;">{{clie.OtroUno}}</div>
                <div text-wrap *ngIf="clie.OtroUno == 'Ingreso'">{{clie.OtroUno}}</div>
              </ion-col>
              <ion-col>
            
            
                <ion-badge color="danger" *ngIf="clie.OtroUno == 'Egreso'">{{clie.OtroCuatro}}</ion-badge>
                <ion-badge *ngIf="clie.OtroUno == 'Ingreso'">{{clie.OtroCuatro}}</ion-badge>
            
              </ion-col>
              <ion-col center text-center>
                <ion-note style="font-size: small;">
                  {{clie.NombreUsuario}}
                </ion-note>
              </ion-col>
              <!-- archivo a descargar -->
              <ion-col center text-center *ngIf="clie.UrlDocumento != '#'">
                <!--<button ion-button icon-only (click)="openUrl(clie.Rol)" small color="secondary">-->
                <button ion-button icon-only (click)="descargar(clie.Rol, clie.Extension)" small color="secondary">
                  <ion-icon name="cloud-download"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <!--<span style="font-size: 0.6em;font-style: italic;">Deslice a la izquierda para ver opciones</span>-->
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="presentActionSheet(clie)" *ngIf="permisos.EliminaRendicion == '1'">
              <ion-icon name="trash"></ion-icon>
              Borrar
            </button>
            <button ion-button color="primary" (click)="presentModal(clie)" *ngIf="permisos.ModificaRendicion == '1'">
              <ion-icon name="create"></ion-icon>
              Editar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>



</ion-content>
<ion-fab bottom right *ngIf="permisos.CreaRendicion == 1">
    <button ion-fab  (click)="presentModal(null)" class="mui--bg-color-amber-700 fg-black">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>