<!--
  Generated template for the SolicitudesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="mui--bg-color-red-300 fg-light">

    <ion-navbar>
          
        <ion-title>
            <ion-grid>
              <ion-row>
                  <ion-col col-10>
                      Rendiciones
                    </ion-col>
                    <ion-col col-2 text-right (click)="logout()">
                      <ion-icon name="close"></ion-icon>
                    </ion-col>
              </ion-row>
            </ion-grid>
        </ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
  <!-- refresh-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-label no-padding no-margin text-center style="font-style: italic;
          font-size: 0.9rem;">
        Deslize hacia abajo para actualizar
      </ion-label>

    <!-- lista-->
    <ion-list>
        <ion-item-sliding *ngFor="let clie of rendicionesArr">
          <ion-item>
            <ion-avatar item-start>
              <!--salida-->
                <ion-icon name="arrow-back" item-left *ngIf="clie.OtroUno == 'Egreso'" style="color: red; font-size: 3em;"></ion-icon>
                <!--entrada-->
                <ion-icon name="arrow-forward" item-left  *ngIf="clie.OtroUno == 'Ingreso'" style="color: #488aff; font-size: 3em;"></ion-icon>
            </ion-avatar>
            <h2>{{clie.NombreCompleto}}</h2>
            <ion-row>
              <ion-col>
                <div text-wrap *ngIf="clie.OtroUno == 'Egreso'" style="color: red;">{{clie.OtroUno}}</div>
                <div text-wrap *ngIf="clie.OtroUno == 'Ingreso'">{{clie.OtroUno}}</div>
              </ion-col>
              <ion-col>
            
            
                <ion-badge color="danger" *ngIf="clie.OtroUno == 'Egreso'">{{clie.OtroCuatro}}</ion-badge>
                <ion-badge *ngIf="clie.OtroUno == 'Ingreso'">{{clie.OtroCuatro}}</ion-badge>
            
              </ion-col>
              <ion-col center text-center>
                <ion-note style="font-size: small;">
                  {{clie.NombreUsuario}}
                </ion-note>
              </ion-col>
              <!-- archivo a descargar -->
              <ion-col center text-center *ngIf="clie.UrlDocumento != '#'">
                <button ion-button icon-only (click)="openUrl(clie.Rol)" small color="secondary">
                  <ion-icon name="cloud-download"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <span style="font-size: 0.6em;font-style: italic;">Deslice a la izquierda para ver opciones</span>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="presentActionSheet(clie)" *ngIf="permisos.EliminaRendicion == '1'">
              <ion-icon name="trash"></ion-icon>
              Borrar
            </button>
            <button ion-button color="primary" (click)="presentModal(clie)" *ngIf="permisos.ModificaRendicion == '1'">
              <ion-icon name="create"></ion-icon>
              Editar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <!--
      <ion-card *ngIf="esAdministrador == false">
        <ion-card-content>
          <ion-card-title>
            Usuarios del Sistema
          </ion-card-title>
          <ion-item>
            <ion-avatar item-start>
              <ion-icon name="people" style="font-size: 3em;"></ion-icon>
            </ion-avatar>
            <p text-wrap>Actualmente existen <strong>{{cantidadUsuarios}}</strong> usuarios para tu asamblea.</p>
          </ion-item>
      
        </ion-card-content>
      </ion-card>
-->


</ion-content>
<ion-fab bottom right *ngIf="permisos.CreaRendicion == 1" style ="bottom: 10%;">
    <button ion-fab  (click)="presentModal(null)" class="mui--bg-color-red-300 fg-light">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>