page-calendario {
    /*
    .monthview-selected { 
        background-color: transparent! important; 
        color: black! important; 
        }
    td.monthview-current {
        color: white;
        
        .calendar-day {
            background-color: color($colors, 'light') !important;
        }
        }
        
        .monthview-datetable {
        border: 0 !important;
        
        td, th {
            border: 0 !important;
            padding: 3px!important;
            background-color: transparent!important;
        }
        }
            
        .calendar-day {
        border-radius: 6px;
        padding: 3px 5px;

        }
        */
}
