<ion-header class="mui--bg-color-black-alpha-87 fg-light">

    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="closeModal()">
             <ion-icon name="arrow-back"></ion-icon>
           </button>
           </ion-buttons>
      <ion-title>Comentarios</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
<!--<button ion-button full class="bg-red-200 fg-white" (click)="closeModal()">Cerrar</button>-->
  <div *ngFor="let item of solicitudes">
    <ion-card>
      <ion-card-content>
        <!-- imagenes -->
        <ion-grid *ngIf="item.MuestraAdjuntos">
          <ion-row>
            <div [class]="item.ClaseUno" *ngIf="item.MuestraImagenUno">
              <img [src]="item.ImgUno" (click)="presentModalImagen(item.ImgUno, item.IdUno, item.Id)"  (load)="loaded($event)" id="img1" />
            </div>
            <div [class]="item.ClaseDos" *ngIf="item.MuestraImagenDos">
              <img [src]="item.ImgDos" (click)="presentModalImagen(item.ImgDos, item.IdDos, item.Id)" (load)="loaded($event)" id="img2" />
            </div>
            <div [class]="item.ClaseTres" *ngIf="item.MuestraImagenTres">
              <img [src]="item.ImgTres" (click)="presentModalImagen(item.ImgTres, item.IdTres, item.Id)" (load)="loaded($event)" id="img3" />
            </div>
            <div [class]="item.ClaseCuatro" *ngIf="item.MuestraImagenCuatro">
              <img [src]="item.ImgCuatro" (click)="presentModalImagen(item.ImgCuatro, item.IdCuatro, item.Id)" (load)="loaded($event)" id="img4" />
            </div>
          </ion-row>

        </ion-grid>

        <ion-card-title>
          {{item.NombreUsuario}}
          <ion-icon name="{{item.UrlImagen}}" style="float: right;" *ngIf="item.VisibleEliminar" class="fg-teal-800" (click)="presentActionSheetMuro(item)"></ion-icon>
        </ion-card-title>
        <span class="icono-fecha fg-teal-800"><ion-icon name="clock"></ion-icon> {{item.FechaString}}</span>
        <p text-wrap>
          <strong>
            {{item.Texto}}
          </strong>
        </p>
        <!--
        <ion-item>
              <ion-label stacked>Ingrese Comentario</ion-label>
              <ion-input type="text" [(ngModel)]="textoEnviar" required></ion-input>
        </ion-item>
        <button style="float: right; font-size: 0.8rem;" ion-button class="bg-red-300 fg-white" (click)="enviar(item)">Enviar</button>
        -->

        <!-- comentarios 
        <ion-list *ngFor="let comen of item.RespuestaMuro">
          <ion-item>
            <ion-icon name="chatbubbles" item-start style="font-size: 1.8rem;" class="fg-teal-800"></ion-icon>
            <h2><strong>{{comen.NombreUsuario}}</strong></h2>
            <h3 style="font-size: 1.2rem;" class="fg-teal-800"><ion-icon name="clock"></ion-icon> {{comen.FechaString}}</h3>
            <p text-wrap style="text-align: justify;">{{comen.Texto}}</p>
            <ion-icon class="fg-teal-800" name="trash" *ngIf="comen.VisibleEliminar" item-end (click)="presentActionSheet(comen)"></ion-icon>
          </ion-item>
        </ion-list>
-->


      </ion-card-content>
    </ion-card>
    <ion-list *ngFor="let comen of item.RespuestaMuro" no-lines>
        <ion-item [class]="comen.clase">
           <!-- <ion-item class="respuesta">-->
          <h3 style="color: #385898;">{{comen.NombreUsuario}} - ({{comen.NombreRol}})</h3>
          <p text-wrap text-justify>
            {{comen.Texto}}
          </p>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
                <p class="tiempo"><ion-icon name="calendar"></ion-icon>&nbsp;{{comen.FechaString}}</p>
            </ion-col>
            <ion-col *ngIf="comen.VisibleEliminar">
              <button ion-button icon-start small clear color="danger" style="float: right;" (click)="presentActionSheet(comen)">
                  <ion-icon name="trash"></ion-icon>
                  Eliminar
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      
      </ion-list>
  </div>

</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-10>
              <ion-textarea placeholder="Escribe un comentario" class="casilla" [(ngModel)]="textoEnviar"  autosize></ion-textarea>
          </ion-col>
          <ion-col col-2 (click)="enviar(item)">
              <ion-icon name="send" class="botonEnviar"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
