<!--
  Generated template for the DetailNovedadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<button ion-button full class="bg-red-200 fg-white" (click)="closeModal()">Cerrar</button>
  <div *ngFor="let item of solicitudes">
    <ion-card>
      <ion-card-content>
        <!-- imagenes -->
        <ion-grid *ngIf="item.MuestraAdjuntos">
          <ion-row>
            <div [class]="item.ClaseUno" *ngIf="item.MuestraImagenUno">
              <img [src]="item.ImgUno" (click)="presentModalImagen(item.ImgUno, item.IdUno, item.Id)" />
            </div>
            <div [class]="item.ClaseDos" *ngIf="item.MuestraImagenDos">
              <img [src]="item.ImgDos" (click)="presentModalImagen(item.ImgDos, item.IdDos, item.Id)" />
            </div>
            <div [class]="item.ClaseTres" *ngIf="item.MuestraImagenTres">
              <img [src]="item.ImgTres" (click)="presentModalImagen(item.ImgTres, item.IdTres, item.Id)" />
            </div>
            <div [class]="item.ClaseCuatro" *ngIf="item.MuestraImagenCuatro">
              <img [src]="item.ImgCuatro" (click)="presentModalImagen(item.ImgCuatro, item.IdCuatro, item.Id)" />
            </div>
          </ion-row>

        </ion-grid>

        <ion-card-title>
          {{item.NombreUsuario}}
          <ion-icon name="{{item.UrlImagen}}" style="float: right;" *ngIf="item.VisibleEliminar" class="fg-teal-800" (click)="presentActionSheetMuro(item)"></ion-icon>
        </ion-card-title>
        <span class="icono-fecha fg-teal-800"><ion-icon name="clock"></ion-icon> {{item.FechaString}}</span>
        <p text-wrap>
          <strong>
            {{item.Texto}}
          </strong>
        </p>
        <ion-item>
              <ion-label stacked>Ingrese Comentario</ion-label>
              <ion-input type="text" [(ngModel)]="textoEnviar" required></ion-input>
        </ion-item>
        <button style="float: right; font-size: 0.8rem;" ion-button class="bg-red-300 fg-white" (click)="enviar(item)">Enviar</button>


        <!-- comentarios -->
        <ion-list *ngFor="let comen of item.RespuestaMuro">
          <ion-item>
            <ion-icon name="chatbubbles" item-start style="font-size: 1.8rem;" class="fg-teal-800"></ion-icon>
            <h2><strong>{{comen.NombreUsuario}}</strong></h2>
            <h3 style="font-size: 1.2rem;" class="fg-teal-800"><ion-icon name="clock"></ion-icon> {{comen.FechaString}}</h3>
            <p text-wrap style="text-align: justify;">{{comen.Texto}}</p>
            <ion-icon class="fg-teal-800" name="trash" *ngIf="comen.VisibleEliminar" item-end (click)="presentActionSheet(comen)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

<!--
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button style="width: 100%;" class="bg-red-200 fg-white" (click)="closeModal()">Cancelar</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button style="width: 100%;" class="bg-red-400 fg-white" (click)="closeModal('actualizar')">Aceptar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
</ion-content>
