<!--
<ion-header class="mui--bg-color-red-500 fg-light">
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title style="color: white;">
      Novedades
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-menu [content]="content" id="pageNovedades" type="overlay">
  <ion-header class="mui--bg-color-red-500 fg-light">
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item no-lines style="border-bottom: 1px solid #dedede;">
        <ion-avatar item-start>
          <ion-icon class="fg-principal" name="contact" style="font-size: 2em;"></ion-icon>
        </ion-avatar>
        <h2 class="fg-principal" text-wrap>{{nombreLogueado}}</h2>
        <h3 class="fg-secundary">{{rolLogueado}}</h3>
        <p class="fg-secundary">{{institucionLogueado}}</p>
      </ion-item>
      <ion-item no-lines class="fg-secundary">
          <ion-label style="margin-top:0;margin-bottom: 0;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="chatbubbles"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  Novedades
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
      </ion-item>
      <ion-item no-lines class="fg-secundary" (click)="openUsuarios()">
          <ion-label style="margin-top:0;margin-bottom: 0;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="people"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  Usuarios
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
      </ion-item>
      <ion-item no-lines class="fg-secundary" (click)="openRendiciones()">
          <ion-label style="margin-top:0;margin-bottom: 0;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="logo-usd"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  Rendiciones
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
      </ion-item>
      <ion-item no-lines class="fg-secundary" (click)="openDocumentos()">
          <ion-label style="margin-top:0;margin-bottom: 0;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="document"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  Documentos
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
      </ion-item>   
      <ion-item no-lines class="fg-secundary" (click)="openCalendario()">
          <ion-label style="margin-top:0;margin-bottom: 0;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="calendar"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  Calendario
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
      </ion-item>  
      <ion-item no-lines class="fg-secundary" (click)="openVotaciones()">
          <ion-label style="margin-top:0;margin-bottom: 0;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="megaphone"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  Votaciones
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
      </ion-item> 
      <ion-item no-lines style="border-bottom: 1px solid #dedede;" class="fg-secundary"  (click)="openSolicitudes()">
          <ion-label style="margin-top:0;margin-bottom: 0;">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                  <ion-icon name="chatbubbles"></ion-icon>
                </ion-col>
                <ion-col col-10>
                  Solicitudes
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
      </ion-item>                                    
      <ion-item no-lines style="border-bottom: 1px solid #dedede;" class="fg-secundary" (click)="cerrarSesion()">
        <ion-label style="margin-top:0;margin-bottom: 0;">
          <ion-grid>
            <ion-row>
              <ion-col col-2>
                <ion-icon name="close-circle"></ion-icon>
              </ion-col>
              <ion-col col-10>
                Cerrar sesión
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item no-lines style="border-bottom: 1px solid #dedede;"  class="fg-secundary" (click)="salir()">
        <ion-label style="margin-top:0;margin-bottom: 0;">
          <ion-grid>
            <ion-row>
              <ion-col col-2>
                <ion-icon name="exit"></ion-icon>
              </ion-col>
              <ion-col col-10>
                Salir
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>
-->

<ion-header class="mui--bg-color-black-alpha-87 fg-light">
    <ion-navbar>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title style="color: white;">
        Novedades
      </ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding>
    <!-- refresh-->
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <!--
    <ion-label no-padding no-margin text-center style="font-style: italic;
          font-size: 0.9rem;">
      Deslize hacia abajo para actualizar
    </ion-label>
    -->
  <!-- solo para pruebas de carga de archivos -->

  <div *ngFor="let item of solicitudes">
    <ion-card>
      <ion-card-content>
        <!-- lo comentamos por mientra
          <img [src]="image" *ngIf="image" />
          <ion-item>
            <label>Carga de Archivos</label>
            <input type="file" accept="image/*" (change)="changeListener($event, item)" style="opacity: 0" #fileInp>

          </ion-item>
        -->
        <ion-grid *ngIf="item.MuestraAdjuntos">
          <ion-row>
            <div [class]="item.ClaseUno" *ngIf="item.MuestraImagenUno">
              <img [src]="item.ImgUno" (click)="presentModalImagen(item.ImgUno, item.IdUno, item.Id)" (load)="loaded($event)" id="img1" />
            </div>
            <div [class]="item.ClaseDos" *ngIf="item.MuestraImagenDos">
              <img [src]="item.ImgDos" (click)="presentModalImagen(item.ImgDos, item.IdDos, item.Id)"  (load)="loaded($event)" id="img2" />
            </div>
            <div [class]="item.ClaseTres" *ngIf="item.MuestraImagenTres">
              <img [src]="item.ImgTres" (click)="presentModalImagen(item.ImgTres, item.IdTres, item.Id)"  (load)="loaded($event)" id="img3" />
            </div>
            <div [class]="item.ClaseCuatro" *ngIf="item.MuestraImagenCuatro">
              <img [src]="item.ImgCuatro" (click)="presentModalImagen(item.ImgCuatro, item.IdCuatro, item.Id)" (load)="loaded($event)" id="img4" />
            </div>
          </ion-row>

        </ion-grid>
        <ion-card-title>
          <ion-icon name="create" style="float: left;" *ngIf="item.VisibleEditar" class="fg-teal-800"  (click)="presentModalEditarNovedad(item)"></ion-icon>&nbsp;
          {{item.NombreUsuario}}
          <ion-icon name="{{item.UrlImagen}}" style="float: right;" *ngIf="item.VisibleEliminar" class="fg-teal-800"  (click)="presentActionSheetMuro(item)"></ion-icon>

        </ion-card-title>
        <span class="icono-fecha fg-teal-800"><ion-icon name="clock"></ion-icon> {{item.FechaString}}</span>
        <button style="float: right; font-size: 0.8rem;" ion-button small class="bg-red-300 fg-white" (click)="presentModal(item)" >Comentar</button>
        <p text-wrap>
          <strong>
            {{item.Texto}}
          </strong>
        </p>
        <!-- comentarios -->
        <ion-list *ngFor="let comen of item.RespuestaMuro">
          <ion-item>
            <ion-icon name="chatbubbles" item-start style="font-size: 1.8rem;" class="fg-teal-800"></ion-icon>
            <h2><strong>{{comen.NombreUsuario}}</strong></h2>
            <h3 style="font-size: 1.2rem;" class="fg-teal-800"><ion-icon name="clock"></ion-icon> {{comen.FechaString}}</h3>
            <p text-wrap style="text-align: justify;">{{comen.Texto}}</p>
            <ion-icon class="fg-teal-800" name="trash" *ngIf="comen.VisibleEliminar" item-end (click)="presentActionSheet(comen)"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
<ion-fab bottom right *ngIf="permisos.CreaMuro == 1" style ="bottom: 10%;">
  <button ion-fab (click)="presentModalCrearNovedad(null)"  class="mui--bg-color-amber-700 fg-black">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>