page-novedades {
  .icono-fecha{
    font-size: 1.2rem;

  }
  .toolbar-background-md {
    border-color: #EF5350;
    background: #EF5350;
  }
  .toolbar-title-md {
    padding: 0 12px;
    font-weight: 500;
    color: white;
    text-align: center;
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
    background-color: transparent;
  }
}
